@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap'); 


html {
    background-image:url(food.png); 
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image:url(background1.png); 

}


#pic1 {
    width: 110px; 
    position: relative; 
    bottom: 165px;  
    left: 150px;  
    border-width: 2px; 
    border-style: solid;
    border-color: #933300; 
    border-radius: 50px; 

}

#pic2 {
    width: 110px; 
    position: relative; 
    bottom: 163px;  
    left: 900px;  
    border-width: 2px; 
    border-style: solid;
    border-color: #933300; 
    border-radius: 50px; 

}


h1 {
    font-family: 'Playfair Display', serif;
    font-size: 140px; 
    text-align: center; 
    color:#fe8c62;  
    position: relative; 
    top: 70px;  
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #933300;

}

.quiz {
    background-image:url('background.png'); 
    font-family:'Merriweather', serif;
    font-size: 18px;
    color: #000000; 
    text-align: left; 
    padding: 30px 50px 60px 50px;
    position: relative; 
    bottom: 5px; 
    border-width: 2px; 
    border-style: solid;
    border-color: #933300; 
    border-radius: 50px; 
    box-shadow: 10px 10px 5px rgb(210, 180, 141);

}

.submit {
    
}

.resultsOverlay {
  background-image:url('food11.png'); 
  font-family: 'Playfair Display', serif;
  font-size: 34px; 
  font-weight: bold; 
  color:#6C2702;
  text-align: center;
  position: relative;
  bottom: 500px; 
  left: 800px; 
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  box-shadow: 10px 10px 5px rgb(210, 180, 141);
    
}


    
 
